html,body
{
    width:100%;
    height:100%;
}
html,body,div,a,h1,h3,h2,h4,h5,h6
{
    padding:0px;
    margin:0px;
}

a
{
    text-decoration: none;
    color:inherit;
}

a:hover
{
    text-decoration: none;
    color:inherit;
}

/******* Header Elements *****************/

nav#navigation
{
    height:80px;
}

.logo
{
    padding:0px;
    height:80px;
    margin:0px;
    width:200px;
}

ul#navbarContents
{
    margin-top:0px;
}

button#navBtn
{
    margin-top:22px;   
}

/**************************************/

/*************** MAIN INTRO ****************/
div#introContainer
{
    text-align: center;
    margin-top: 0px;
    height:100%;
}

div#introContents
{
    margin-top:150px;
}

div#introContainer h1
{
    margin-top:10%;
    font-size:50px;
}

div#introContainer h3
{
    margin-top:20px;
    font-size:30px;
}

div#introContainer p
{
    margin-top:20px;
    font-size:16px;
}

div#hireBtn
{
    width:200px;
    font-size:20px;
    height:50px;
    border-radius:8px;
    margin:auto;
    margin-top:40px;
    padding-top:9px;
    cursor:pointer;
   
}

/************************************/

.scroll-downs {
  position: relative;
  top: 20px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  
  width :34px;
  height: 50px;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 55px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}

/************************************/


/*******************************************/

/*************** specialities ***************/
section
{
    position:relative;
    width:100%;
   
}

section#specialisation,section#skills,section#aboutMe,section#contactMe
{
    padding-top:20px;
}



.mainHeading
{
    margin-top:100px;
    text-align: center;
    
}

div.underline
{
    width:100px;
    height:4px;
    border-radius: 4px;
    background-color:rgb(0,144,250);
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
}


.mainHeading:before,
.mainHeading:after {
    background-color: rgb(0,144,250);
    content: "";
    display: inline-block;
    height: 4px;
    position: relative;
    vertical-align: middle;
    width: 100px;
    border-radius:10px;
}
.mainHeading:before {
    right: 0.5em;
    margin-left: -50%;
}
.mainHeading:after {
    left: 0.5em;
    margin-right: -50%;
}
section div.mainHeading>h1
{
    width:300px;
    display:inline-block;
    margin-left:auto;
    margin-right:auto;
}
div#responsiveDesign
{
    margin-top:50px;
}

div.textContainer
{
    margin-top:80px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

div.imgContainer
{
    margin-top:40px;
    margin-left:auto;
    margin-right:auto;
}

div.imgContainer img
{
    width:100%;
    height:100%;
}
/*********************************************/
/******************** Skills *****************/


div.skillContainer
{
      margin-left:auto;
    margin-right:auto;
    text-align: center;
}
div.cards
{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    height:400px;
    width:300px;
  
    margin-top:50px;
}

img.skillImages
{
    height:300px;
    width:100%;
    display:block;
    margin-left:auto;
    margin-right:auto;
    position:relative;
    top:10px;
}

div.caption
{
    text-align:center;
    position:relative;
    top:20px;
    height:80px;
    
}

div.caption h1
{
   position:relative;
    top:20px;
    
}


/********************************************/

/************ About Me ***********************/
section#aboutMe
{
    text-align: center;
    padding-top:20px;
}

.myHeading
{
    margin-top:50px;
}
.myContainer
{
    margin-left: auto;
    margin-right:auto;
    width:80%;
    
}

.myContainer .textContainer
{
    margin-top:60px;
}
.myContainer .imgContainer
{
    
    height:300px;
    width:300px;
    background-color: black;
    
}

.subHeading
{
    margin-top:30px;
    display:block;
}
table.table,th,td
{
    border:2px solid black;
    text-align: center;
    padding:10px;
}
table.table
{
    border: 3px solid black;
    width:80%;
    margin-left:auto;
    margin-right: auto;
    margin-top:50px;
}

table.table th
{

    height:50px;
}



.btn
{
    font-size:16px;
    width:150px;
    margin-bottom:20px;
    cursor:pointer;
}

#cvBtn
{
    margin-right:20px;
}


/***********************************************/

/**************** Contact ********************/

div#contactDetails
{
    width:80%;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    margin-bottom:20px;
}
div#detailContainer
{
    margin:30px;
    margin-left:auto;
    margin-right:auto;
    padding:10px;
    text-align: center;
    
    
}
.myDetails
{
    display:inline-block;
    position:relative;
    font-size: 20px;
    top:-15px;
    left:20px;
}

.glyphicon
{
    font-size:50px;
    position:relative;
}

div#textContainer
{
    text-align:center;
    padding:10px;
}

div#textContainer p
{
    margin-top:10px;
    font-size:16px;
}

div#socialMedia
{
    padding:20px;
    font-size:50px;
    text-align: center;
}

div#socialMedia i
{
    border-radius: 50%;
    width:80px;
    height:80px;
    text-align:center;
    vertical-align: middle;
    padding-top:15px;
    
    border:2px solid blue;
    color:blue;
    cursor:pointer;
}

.socialHeading
{
    text-align:center;
}
/***************** MEDIA QUERIES ************/

@media (min-width: 768px) { 
    
    ul#navbarContents
{
    margin-top:15px;
}

    
div.cards
    {
        display:inline-block;
        margin-left:5%;
        margin-right:5%;
        margin-bottom:5%;
    }
    
div.skillContainer
    {
        width:90%;
        margin-left:auto;
        margin-right:auto;
    }
}

@media (min-width: 992px)
{
    div.textContainer
{
    margin-top:100px;
    text-align:center;
    float:right;
    display: inline-block;
    width:400px;
}

div.imgContainer
{
    margin-top:40px;
    width:500px;
    height:300px;
    float:left;
    display: inline-block;
}
    
div.alternateDesign,div.baseDesign
    {
        height:500px;
        padding:50px;
        padding-left:4%;
        padding-right:4%;
    }
    
div.alternateDesign div.textContainer
    {
        float:left;
    }
div.alternateDesign div.imgContainer
    {
        float:right;
    }    
}

@media (min-width: 1335px)
{
    div.alternateDesign,div.baseDesign
    {
        height:500px;
        padding:50px;
        padding-left:10%;
        padding-right:10%;
    }
}

@media (max-width:420px)
{
    .mainHeading
    {
        font-size:35px;
    }
    
    .mainHeading:before,.mainHeading:after
    {
        width:44px;
    }
}

/*******************************************/