html, body{
width: 100%;
height: 100%;
}
img{
    width: 100%;
    height: 100%;
}
header{
position: absolute;
top:0;
width:100%;
background: transparent;
z-index:20;
}

.navbar{
background-color:transparent!important;
}

.navbar-brand {
    color: white;
}
.navbar-nav .nav-link {
    color: white;
}

.navbar-toggler{
    color: white;
}
.hero{
    width: 100%;
    background-image: url("../images/jarvis-wallpapers.jpg");
    padding-top: 60px;
    padding-bottom: 30px;
}

.intro{
    display:inline-block;
    width: 50%;
    vertical-align: middle;
    color: rgb(243, 243, 243);
}

.name{
    font-size:3.8rem;
    color: rgb(3, 128, 139);
}

.important{
    font-size: 3rem;
    color: #866245;
}

.alt{
    color: #5982b1;
}


.arrow{
    color: #178a30;
    font-size: 4rem;
    text-align:center;
}

.chat-intro{
    color:#712680;
}
.chatbot{
    max-height: 600px;
    height:600px;
    max-width: 500px;
    width: 45%;
    position: relative;
    padding:10px;
    background-image: url("../images/chatbackground.png");
    background-position: center; 
    /* background-blend-mode: overlay; */
    background-size: cover;
    /* background-color: rgba(0,0,0,0.4); */

    box-shadow:2px 2px 30px #00BDE7;
    border-radius: 10px;
    display: inline-block;
    vertical-align: middle;

    
}

.chat-screen{
 max-height: 450px;
 overflow-y: auto;
}

.chat-screen::-webkit-scrollbar {
    width: 5px;
    border-radius: 20px;
}
 
.chat-screen::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
    width: 1px;
    
}
 
.chat-screen::-webkit-scrollbar-thumb {
  background-color: rgba(88,125,156,0.8);
  outline: 1px solid slategrey;
  border-radius: 20px;
}

.chat-image{
    display:inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    vertical-align: middle;
    margin: 0px 10px;
}

.chat-msg-container{
    width: 70%;
    padding: 10px;
    border-radius: 20px;
    margin: 20px 10px;
    display:inline-block;
    vertical-align: middle;
}

.response-container{
    background-color: rgb(9, 103, 180);
    color: white;
    
}

.input-container{
    background-color: #999997;
    color: black;
}

.chat-input-box{
    position: absolute;
    bottom:10px;
    left:0;
    right: 0;
}

.chat-input{
    max-height:80px;
    max-width: 90%;
    width:80%;
    display:inline-block;
    vertical-align: middle;
    margin: 10px 5px 10px 10px;
    background: rgb(0,0,0,0.8);
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding:10px;
    
}

.btn-chat{
    height:70px;
    width: 70px;
    border-radius: 50%;
    text-align: center;
    padding:0;
    margin-right: 10px;
    display:inline-block;
    vertical-align: middle;
    background-color:transparent;
    border: 4px solid #00BDE7;
    font-weight: bolder;
    font-size: 30px;
    color:white;
    
}
.btn-chat:hover{
    background-color:#00BDE7;
    border: 4px solid #00BDE7;
    color: black;
}

.heading{
    padding: 20px;
    text-align:center;
}

.section-heading{
    font-size: 4rem;
    font-weight: bolder;
}

.skill-section{
    padding: 20px 0;
    text-align: center;
}

.skill-section .row{
    text-align:center;
}

.card{
    margin: 10px 20px;
}

.skill-logo{
    max-width: 90%;
    max-height: 200px;
    margin: 10px;
}

.card-text{
    font-size: 2rem;
    font-weight: bold;
    color: #555555;
}

.section{
    border-bottom: 1px solid #999;
    padding: 20px 0  100px 0;
}

.work{
    /* padding: 20px; */
    box-shadow: 2px 2px 2px #999;
    text-align:center;
    
  background: #3494e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3494e6, #ec6ead); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3494e6, #ec6ead); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.pink{
    background: none;
    background-color: #ec6ead;
}

.blue{
    background:none;
    background-color: #3494e6;
}
.work-type{
    display:inline-block;
    width: 45%;
    height: 300px;
    padding: 40px 0;
    position: relative;
    color: white;
}

.work-type h2{
    color: white;
    margin-top: 80px;
    font-size: 3rem;
}

.work-options{
    display: none;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    text-align: center;
    z-index: 20;
}



.internship:hover .internship-work-options{
    background-color: #3494e6;
    display:block;
    width: 100%;
}

.projects:hover .project-work-options{
    background-color: #ec6ead;
    display:block;
    width: 100%;
}

.work-options button{
    display: block;
    margin: 20px auto;
    width: 200px;
}

.internship-btn
{
    background-color: #712680;
}

.project-btn{
    background-color:#770000;
}


.about-content{
    margin: 40px 0;
}

.contact-section{
    color: white;
    background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.contact-section .section{
    padding: 20px 0 ;
}

.contact-options{
    list-style-type: none;

}

.contact-options li{
    font-size: 20px;
    margin: 10px;
    padding: 10px;
}

.contact-options .icon{
    vertical-align: middle;
    margin-right: 10px;
}


@media(max-width: 500px){

    .navbar-toggler-icon{
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }

    .navbar-brand{
        font-size: 30px;
    }

    .navbar-items{
        text-align:center;
        background-color: rgba(0,0,0,0.9);
    }
    
    .intro{
        padding: 100px 10px;
        display:block;
        width: 100%;
        text-align: center;
    }
    
    .name{
        font-size:2.5rem;
        color: rgb(3, 128, 139);
        display:block;
    }
    
    .important{
        font-size: 2rem;
    }
   
    
    .arrow{
        font-size: 3rem;
        text-align:center;
    }
    
    .chat-intro{
        color:#712680;
    }

    .chatbot{
        width: 100%;
    }

    .chat-msg-container{
        margin: 10px 0;
    }

    .chat-image{
        width: 60px;
        height: 60px;
    }

    .btn-chat{
        width: 60px;
        height: 60px;
    }

    .chat-input{
        width: 70%;
    }
    .container, .container-fluid{
        padding: 0;

    }

    .work-type{
        width: 100%;
    }

    .project-btn-close{
        display: none;
    }

    .project-toggler{
       background: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(50,50,50)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }

    .about-section .section{
        padding: 10px;
    }

    .contact-section .section{
        padding: 10px;
    }

    .contact-section ul, .contact-section li{
        padding: 10px 0;
        font-size: 16px;
    }
    .contact-section .icon{
        font-size: 20px;
    }
}

@media(min-width: 750px){
    .project-list{
        display: block;
    }
}