html, body{
width: 100%;
height: 100%;
}
img{
    width: 100%;
    height: 100%;
}
header{
position: absolute;
top:0;
width:100%;
background: transparent;
z-index:20;
}

.navbar{
background-color:transparent!important;
}

.navbar-brand {
    color: white;
}
.navbar-nav .nav-link {
    color: white;
}

.navbar-toggler{
    color: white;
}
.hero{
    width: 100%;
    background-image: url("../images/jarvis-wallpapers.jpg");
    padding-top: 60px;
    padding-bottom: 30px;
}

.intro{
    display:inline-block;
    width: 50%;
    vertical-align: middle;
    color: rgb(243, 243, 243);
}

.name{
    font-size:3.8rem;
    color: rgb(3, 128, 139);
}

.important{
    font-size: 3rem;
    color: #866245;
}

.alt{
    color: #5982b1;
}


.arrow{
    color: #178a30;
    font-size: 4rem;
    text-align:center;
}

.chat-intro{
    color:#712680;
}
.chatbot{
    max-height: 600px;
    height:600px;
    max-width: 500px;
    width: 45%;
    position: relative;
    padding:10px;
    background-image: url("../images/chatbackground.png");
    background-position: center; 
    background-blend-mode: overlay;
    background-size: cover;
    background-color: rgba(0,0,0,0.4);
    box-shadow:2px 0px 4px rgb(255, 255, 255);
    border-radius: 10px;
    display: inline-block;
    vertical-align: middle;
}

.chat-screen{
 max-height: 450px;
 overflow-y: auto;
}

.chat-screen::-webkit-scrollbar {
    width: 5px;
    border-radius: 20px;
}
 
.chat-screen::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
    width: 1px;
    
}
 
.chat-screen::-webkit-scrollbar-thumb {
  background-color: rgba(88,125,156,0.8);
  outline: 1px solid slategrey;
  border-radius: 20px;
}

.chat-image{
    display:inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    vertical-align: middle;
    margin: 0px 10px;
}

.chat-msg-container{
    width: 60%;
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
    display:inline-block;
    vertical-align: middle;
}

.response-container{
    background-color:#013D43;
    color: white;
    
}

.input-container{
    background-color: #999997;
    color: black;
}

.chat-input-box{
    position: absolute;
    bottom:10px;
    left:0;
    right: 0;
}

.chat-input{
    max-height:80px;
    max-width: 90%;
    width:80%;
    display:inline-block;
    vertical-align: middle;
    margin: 10px 5px 10px 10px;
    background: rgba(0,0,0,0.2);
    color: white;
    border: 1px solid #666;
    border-radius: 20px;
    padding:10px;
    
}

.btn-chat{
    height:70px;
    width: 70px;
    border-radius: 50%;
    text-align: center;
    padding:0;
    margin-right: 10px;
    display:inline-block;
    vertical-align: middle;
    
}


.card{
    margin: 10px;
}

.skill-logo{
    max-width: 90%;
    max-height: 200px;
    margin: 10px;
}

