html, body{
width: 100%;
height: 100%;
}
img{
    width: 100%;
    height: 100%;
}
header{
position: absolute;
top:0;
width:100%;
background: transparent;
z-index:20;
}

.navbar{
background-color:transparent!important;
}

.navbar-brand {
    color: white;
}
.navbar-nav .nav-link {
    color: white;
}

.navbar-toggler{
    color: white;
}
.hero{
    width: 100%;
    background-image: url("../images/jarvis.jpg");
    padding-top: 60px;
    padding-bottom: 30px;
}

.chatbot{
    max-height: 600px;
    height:600px;
    max-width: 500px;
    background-color:white;
    position: relative;
    
}

.chat-screen{
 min-height: 4500px;
}

.chat-input-box{
    position: absolute;
    bottom:10px;
    left:0;
    right: 0;
}

.chat-input{
    max-height:80px;
    max-width: 90%;
    width:80%;
    display:inline-block;
    vertical-align: middle;
    margin: 10px 5px 10px 10px;
    background: white;
    border: 1px solid #666;
    border-radius: 20px;
    padding:10px;
    
}
.btn-chat{
    height:70px;
    width: 70px;
    border-radius: 50%;
    text-align: center;
    padding:0;
    margin-right: 10px;
    display:inline-block;
    vertical-align: middle;
    
}


.card{
    margin: 10px;
}

.skill-logo{
    max-width: 90%;
    max-height: 200px;
    margin: 10px;
}

